@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 30px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(250, 199, 127);
}

h1{
    padding: 10px;
}

.chart{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.tBody{
    background-color: rgb(53, 52, 52);
    text-align: left;
}